.pinbox {
  color: #141414;
  font-weight: 400;
  font-size: 24px;
  line-height: 31.68px;
  text-align: center;
  padding: 10px 8px 10px 8px;
  border: 1px solid #adadad;
  border-radius: 4px;
  outline: none;
  height: 64px;
  width: 50px;
}

.pinbox:focus {
  border: 1px solid #497e76;
}
.pinbox:focus::placeholder {
  color: transparent;
}
.pinbox[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.pinbox::-webkit-outer-spin-button,
.pinbox::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
