#mainBox {
  margin-bottom: 20px;
  outline: none;
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: 50vh;
}
@media (min-width: 781px) {
  #mainBox {
    height: 500px;
    width: 600px;
  }
}
#content-container {
  position: relative;
  background: white;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  box-shadow: var(--container-shadow);
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  box-sizing: border-box;
  overflow: hidden;
}
/* React transition group animation */
.send-content-transition-container-enter {
  transform: translateX(-100%);
}
.send-content-transition-container-enter-active {
  transform: translateX(0);
  transition: all 300ms;
}
.send-content-transition-container-exit {
  transform: translateX(0);
}
.send-content-transition-container-exit-active {
  transform: translateX(-150%);
  transition: all 300ms;
}
.receive-content-transition-container-enter {
  width: 100%;
  position: absolute;
  height: 100%;
  transform: translateX(100%);
}
.receive-content-transition-container-enter-active {
  width: 100%;
  position: absolute;
  height: 100%;
  transform: translateX(0);
  transition: all 300ms;
}
.receive-content-transition-container-exit {
  width: 100%;
  position: absolute;
  height: 100%;
  transform: translateX(0);
}
.receive-content-transition-container-exit-active {
  width: 100%;
  position: absolute;
  height: 100%;
  transform: translateX(150%);
  transition: all 300ms;
}
/* React transition group animation ends */
/* 
.tabContent-container {
  background: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  padding: 30px 40px 40px;
  overflow: hidden;
}
.absolute-helper-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.tab-content {
  position: absolute;
  width: 100%;
  height: 100%;
}
.tab-content-transition-container-enter {
  width: 100%;
  position: absolute;
  height: 100%;
  transform: translateX(100%);
}
.tab-content-transition-container-enter-active {
  width: 100%;
  position: absolute;
  height: 100%;
  transform: translateX(0);
  transition: all 300ms;
}
.tab-content-transition-container-exit {
  width: 100%;
  position: absolute;
  height: 100%;
  transform: translateX(0);
}
.tab-content-transition-container-exit-active {
  width: 100%;
  position: absolute;
  height: 100%;
  transform: translateX(-150%);
  transition: all 300ms;
} */
/* .tab-content-container {
  background: #fff;
  list-style: none;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 13px;
  width: 100%;
  height: 400px;
} */
/* .tab-content {
  width: 100%;
  height: 100%;
} */
/**/
/* auto generated CSS start */
/**/

/* .tabContainer > ul {
  list-style: none;
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 13px;
} */
/* .tabContainer > ul > li {
  position: relative;
  width: 100%;
  overflow: auto;
  padding: 30px 40px 40px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.tabContainer > .tab-content-first:checked ~ ul .tab-content-first,
.tabContainer > .tab-content-2:checked ~ ul .tab-content-2 {
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
} */

/*----------------------------------------------------------------------------*/
/*                                 EXTENSIONS                                 */
/*----------------------------------------------------------------------------*/

/**/
/* auto height */
/**/
/* .tabContainer-height-auto > ul {
  height: auto !important;
}
.tabContainer-height-auto > ul > li {
  position: static;
  display: none;
  height: auto !important;
}
.tabContainer-height-auto > .tab-content-first:checked ~ ul .tab-content-first,
.tabContainer-height-auto > .tab-content-2:checked ~ ul .tab-content-2,
.tabContainer-height-auto > .tab-content-3:checked ~ ul .tab-content-3,
.tabContainer-height-auto > .tab-content-4:checked ~ ul .tab-content-4,
.tabContainer-height-auto > .tab-content-5:checked ~ ul .tab-content-5,
.tabContainer-height-auto > .tab-content-last:checked ~ ul .tab-content-last {
  display: block;
} */

/* 
/**/
/* animation effects */
/**/
/* .tabContainer-effect-scale > ul > li {
  -webkit-transform: scale(0.1, 0.1);
  transform: scale(0.1, 0.1);
}
.tabContainer-effect-slide-top > ul > li {
  top: -40px;
} */

/*----------------------------------------------------------------------------*/
/*                               RESPONSIVENESS                               */
/*----------------------------------------------------------------------------*/

/**/
/* pad */
/**/
/* @media screen and (max-width: 980px) {
} */

/**/
/* phone */
/**/
/* @media screen and (max-width: 767px) {
  .tabContainer > label {
    display: block;
  }
  .tabContainer > .right {
    float: none;
  }
} */

/*----------------------------------------------------------------------------*/
/*                                   THEMES                                   */
/*----------------------------------------------------------------------------*/

/**/
/* default */
/**/
/* .tabContainer > label {
  padding: 0 20px;
  background: #e5e5e5;
  font-size: 18px;
  line-height: 49px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  color: #808080;
  opacity: 0.8;
}
.tabContainer > label:hover {
  background: #fff;
  opacity: 1;
}
.tabContainer > input:checked + label {
  background: #fff;
  margin-bottom: 0;
  padding-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  color: #2b82d9;
  opacity: 1;
} */
/* .tabContainer > ul {
  background: #fff;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.2);
} */

/* .tabContainer > .tab-content-first:checked ~ ul {
  border-top-left-radius: 0;
} */
/* @media screen and (max-width: 767px) {
  .tabContainer > label {
    margin-right: 0;
  }
  .tabContainer > input:checked + label {
    margin-bottom: 5px;
    padding-bottom: 0;
    border-radius: 5px;
  }
  .tabContainer > .tab-content-first:checked ~ ul {
    border-top-left-radius: 5px;
  }
} */

/*----------------------------------------------------------------------------*/
/*                               CUSTOMIZATION                                */
/*----------------------------------------------------------------------------*/

/**/
/* height */
/**/
/* .tabContainer > ul,
.tabContainer > ul > li {
  height: 370px;
} */
