#footer {
  justify-content: center;
  display: flex;
}
#title {
  font-family: "Yanone Kaffeesatz";
  font-size: 6em;
  text-align: center;
  color: var(--color-primary);
  padding: 2rem 0 2rem;
  line-height: 0.95em;
  text-shadow: var(--typography-shadow);
  font-weight: 200;
}

#title {
}
#mainBox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#githubIcon {
  max-width: 2rem;
}
