#sendContent {
  position: relative;
  height: 100%;
  width: 100%;
}
#toSend-textarea {
  width: 100%;
  height: clamp(2em, 5em, 5em);
  margin-bottom: 1em;
}
#sendButton-container {
}
/* react transition group animation classes */

#noTextWarning {
  font-size: 0.7em;
  color: var(--color-red);
}
