/* Global CSS */
* {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary), var(--font-secondary), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  background: var(--color-background);
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 481px) {
  body {
    min-width: 450px;
  }
}

/* React transition group */
.transition-container {
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 2rem 2rem;
}
