@font-family{
  font-family: LGC;
  src: url(LGC.ttf);
}


:root {
 
  --font-primary: "Lexend";
  --font-secondary: "Roboto";
  --typography-shadow:  
  0px 3px 3px #cfc6bc36;

  --container-shadow: 0 3px rgba(0, 0, 0, 0.0.1);
  --transition-duration-tabs: 0.3s;
  --title-color: rgb(185, 122, 64);

  --color-background:linear-gradient(to right, #74ebd5, #acb6e5);
  --color-primary: hsl(33, 41%, 95%);
  --color-button-hover: #a9b8e4;
  --color-green:#90d0dd;
  --color-purple:#acb6e5;
  --color-background-content: hsl(0, 0%, 100%);
  --color-background-textarea: hsl(0, 12%, 93%);
  --color-background-textarea-selected: hsl(0, 12%, 90%);
  --color-red: hsl(0, 100%, 50%);
  --color-typography-gray: hsl(0, 0%, 50%);
  --color-typography-blue: hsl(210, 70%, 51%);
}
